![alt text](https://i.imgur.com/1ojDs9r.png)

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('TollBoothData') 
cursor = connectionToDatabase.cursor()

cursor.execute('''drop table IF EXISTS VehicleInfo''')
connectionToDatabase.commit()

cursor.execute('''create table VehicleInfo (VehicleID text, make text, model text, LicensePlate text, color text, year int, type text, paid int, CostID text, PRIMARY KEY(VehicleID, LicensePlate))''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS CostInfo''')
connectionToDatabase.commit()

cursor.execute('''create table CostInfo (CostID text, VehicleID text, type text, price real, PRIMARY KEY(CostID, VehicleID))''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS LaneInfo''')
connectionToDatabase.commit()

cursor.execute('''create table LaneInfo (LaneID text, VehicleID text, dateTime text, PRIMARY KEY (LaneID, dateTime, VehicleID))''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS TransInfo''')
connectionToDatabase.commit()

cursor.execute('''create table TransInfo (TransID text, paymentType text, CostID text, multiplier real, total real, VehicleID text, LaneID text, PRIMARY KEY(TransID, VehicleID, LaneID)) ''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Statistics''')
connectionToDatabase.commit()

cursor.execute('''create table Statistics (StatID text, LaneID text, date text, NumCars int, NumTrucks int, avgWait text, PRIMARY KEY(StatID, LaneID))''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into VehicleInfo values ("%s","%s","%s","%s","%s",%s,"%s",%s,"%s")""" % ("V2378589","Nissan","370z","XHG-567","Black",2004,"Coupe",1,"C14253552")
cursor.execute(insertStatement)
insertStatement =  """insert into VehicleInfo values ("%s","%s","%s","%s","%s",%s,"%s",%s,"%s")""" % ("V5623404","Honda","Pilot","FHG-G56","White",2019,"SUV",1,"C25124543")
cursor.execute(insertStatement)
insertStatement =  """insert into VehicleInfo values ("%s","%s","%s","%s","%s",%s,"%s",%s,"%s")""" % ("V1242896","Chevy","2500","VNDK98","Grey",2018,"Truck",1,"C22452454")
cursor.execute(insertStatement)
insertStatement =  """insert into VehicleInfo values ("%s","%s","%s","%s","%s",%s,"%s",%s,"%s")""" % ("V2324234","Chrysler","Pacifica","HJKI67","Silver",2010,"Van",1,"C32345252")
cursor.execute(insertStatement)
insertStatement =  """insert into VehicleInfo values ("%s","%s","%s","%s","%s",%s,"%s",%s,"%s")""" % ("V4523782","Jaguar","F-type","GH567H","Red",2016,"Coupe",1,"C55245252")
cursor.execute(insertStatement)
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into CostInfo values ("%s","%s","%s",%s)""" % ("C14253552","V2378589","Coupe",2.00)
cursor.execute(insertStatement)
insertStatement =  """insert into CostInfo values ("%s","%s","%s",%s)""" % ("C22452454","V1242896","Truck",3.00)
cursor.execute(insertStatement)
insertStatement =  """insert into CostInfo values ("%s","%s","%s",%s)""" % ("C25124543","V5623404","SUV",2.75)
cursor.execute(insertStatement)
insertStatement =  """insert into CostInfo values ("%s","%s","%s",%s)""" % ("C32345252","V2324234","Sedan",2.25)
cursor.execute(insertStatement)
insertStatement =  """insert into CostInfo values ("%s","%s","%s",%s)""" % ("C55245252","V4523782","Van",2.50)
cursor.execute(insertStatement)
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into LaneInfo values ("%s","%s","%s")""" % ("L1","V5623404","2019-12-20 15:50:23")
cursor.execute(insertStatement)
insertStatement =  """insert into LaneInfo values ("%s","%s","%s")""" % ("L2","V1242896","2019-12-20 16:00:12")
cursor.execute(insertStatement)
insertStatement =  """insert into LaneInfo values ("%s","%s","%s")""" % ("L4","V2378589","2019-12-20 17:32:45")
cursor.execute(insertStatement)
insertStatement =  """insert into LaneInfo values ("%s","%s","%s")""" % ("L8","V2324234","2019-12-20 12:15:54")
cursor.execute(insertStatement)
insertStatement =  """insert into LaneInfo values ("%s","%s","%s")""" % ("L7","V4523782","2019-12-20 10:12:35")
cursor.execute(insertStatement)
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into TransInfo values ("%s","%s","%s",%s,%s,"%s","%s")""" % ("T12412348","Cash","C22452454",0.25,3.25,"V1242896","L1")
cursor.execute(insertStatement)
insertStatement =  """insert into TransInfo values ("%s","%s","%s",%s,%s,"%s","%s")""" % ("T23423041","Card","C14253552",0.50,4.00,"V2378589","L4")
cursor.execute(insertStatement)
insertStatement =  """insert into TransInfo values ("%s","%s","%s",%s,%s,"%s","%s")""" % ("T34242342","Card","C55245252",0.15,2.75,"V4523782","L7")
cursor.execute(insertStatement)
insertStatement =  """insert into TransInfo values ("%s","%s","%s",%s,%s,"%s","%s")""" % ("T23423437","Cash","C32345252",0.25,3.10,"V2324234","L8")
cursor.execute(insertStatement)
insertStatement =  """insert into TransInfo values ("%s","%s","%s",%s,%s,"%s","%s")""" % ("T23423423","Cash","C25124543",0.75,4.00,"V5623404","L1")
cursor.execute(insertStatement)
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into Statistics values ("%s","%s","%s",%s,%s,"%s")""" % ("S34141","L4","2019-12-12",34,10,"00:01:30")
cursor.execute(insertStatement)
insertStatement =  """insert into Statistics values ("%s","%s","%s",%s,%s,"%s")""" % ("S21341","L9","2019-11-31",40,21,"00:00:39")
cursor.execute(insertStatement)
insertStatement =  """insert into Statistics values ("%s","%s","%s",%s,%s,"%s")""" % ("S42314","L3","2019-12-6",51,12,"00:01:01")
cursor.execute(insertStatement)
insertStatement =  """insert into Statistics values ("%s","%s","%s",%s,%s,"%s")""" % ("S23148","L5","2020-1-1",29,7,"00:00:01")
cursor.execute(insertStatement)
insertStatement =  """insert into Statistics values ("%s","%s","%s",%s,%s,"%s")""" % ("S34239","L6","2019-12-20",36,4,"00:02:05")
cursor.execute(insertStatement)
connectionToDatabase.commit()

In [0]:
cursor.execute('''select * from VehicleInfo;''')
for row in cursor.fetchall():
  print (row)

('V2378589', 'Nissan', '370z', 'XHG-567', 'Black', 2004, 'Coupe', 1, 'C14253552')
('V5623404', 'Honda', 'Pilot', 'FHG-G56', 'White', 2019, 'SUV', 1, 'C25124543')
('V1242896', 'Chevy', '2500', 'VNDK98', 'Grey', 2018, 'Truck', 1, 'C22452454')
('V2324234', 'Chrysler', 'Pacifica', 'HJKI67', 'Silver', 2010, 'Van', 1, 'C32345252')
('V4523782', 'Jaguar', 'F-type', 'GH567H', 'Red', 2016, 'Coupe', 1, 'C55245252')

In [0]:
cursor.execute('''select * from CostInfo;''')
for row in cursor.fetchall():
  print (row)

('C14253552', 'V2378589', 'Coupe', 2.0)
('C22452454', 'V1242896', 'Truck', 3.0)
('C25124543', 'V5623404', 'SUV', 2.75)
('C32345252', 'V2324234', 'Sedan', 2.25)
('C55245252', 'V4523782', 'Van', 2.5)

In [0]:
cursor.execute('''select * from LaneInfo;''')
for row in cursor.fetchall():
  print (row)

('L1', 'V5623404', '2019-12-20 15:50:23')
('L2', 'V1242896', '2019-12-20 16:00:12')
('L4', 'V2378589', '2019-12-20 17:32:45')
('L8', 'V2324234', '2019-12-20 12:15:54')
('L7', 'V4523782', '2019-12-20 10:12:35')

In [0]:
cursor.execute('''select * from TransInfo;''')
for row in cursor.fetchall():
  print (row)

('T12412348', 'Cash', 'C22452454', 0.25, 3.25, 'V1242896', 'L1')
('T23423041', 'Card', 'C14253552', 0.5, 4.0, 'V2378589', 'L4')
('T34242342', 'Card', 'C55245252', 0.15, 2.75, 'V4523782', 'L7')
('T23423437', 'Cash', 'C32345252', 0.25, 3.1, 'V2324234', 'L8')
('T23423423', 'Cash', 'C25124543', 0.75, 4.0, 'V5623404', 'L1')

In [0]:
cursor.execute('''select * from Statistics;''')
for row in cursor.fetchall():
  print (row)

('S34141', 'L4', '2019-12-12', 34, 10, '00:01:30')
('S21341', 'L9', '2019-11-31', 40, 21, '00:00:39')
('S42314', 'L3', '2019-12-6', 51, 12, '00:01:01')
('S23148', 'L5', '2020-1-1', 29, 7, '00:00:01')
('S34239', 'L6', '2019-12-20', 36, 4, '00:02:05')

How many red cars went trought the tool booth?

This question is important because it helps us other companies market to consumers. If they see a lot of red cars go through the toll, they can assume that red is a popular color to have. The result met our expectation, showing that there was only 1 red car that went through the toll.

In [0]:
cursor.execute('''select color, count(color) from VehicleInfo where color = "Red";''')
for row in cursor.fetchall(): 
  print (row)

('Red', 1)

What is the license plate number, make and model of a car that went through lane 1 at a specific time?

This question is important as it can help with police investigations. In this senario, the police knew that a honda pilot went throught the toll in lane 1 at a certain time, however the needed the licence plate to uniquely identify the vehcile and this vehicle has also been a costumer at this toll before. With this specific compsite information provided by the police, our database was able to provide a licence place number. The results matched our expectatoins, as we only got one data point returned, giving us the specifc car we wanted.

In [0]:
cursor.execute('''select v.licensePlate, v.make, v.model from VehicleInfo v, laneInfo l where v.vehicleID = l.vehicleID and l.dateTime BETWEEN "2019-12-20 15:15" AND "2019-12-20 16:15" and l.LaneID = "L1";''')
for row in cursor.fetchall(): 
  print (row)

('FHG-G56', 'Honda', 'Pilot')

How many of each car paid with cash? Which type of car paid with cash the most times?

This question is important for future business operations in regards to transactions options and employment. For example, if we see many cars paying with cash, and they are all different, we can ascertain that many people still pay with cash. This will make our company hire more people to be present in toll booths. However, if we still a low number of people, and it is the same type of car, we can assume from the pattern that it is the same people paying with cash each time. In that case, we can determine if it will be more valuable or not to make our toll go fully cashless. The results matched our expectations.

In [0]:
cursor.execute('''select v.type, t.paymentType, count() from VehicleInfo v, TransInfo t where v.VehicleID = t.VehicleID and t.paymentType = "Cash" group by v.type;''')
for row in cursor.fetchall(): 
  print (row)

('SUV', 'Cash', 1)
('Truck', 'Cash', 1)
('Van', 'Cash', 1)

In [0]:
cursor.execute('''select v.type, t.paymentType, count() from VehicleInfo v, TransInfo t where v.VehicleID = t.VehicleID and t.paymentType = "Card" group by v.type;''')
for row in cursor.fetchall(): 
  print (row)

('Coupe', 'Card', 2)

How many of each car paid with card? Which type of car paid with card the most times?

Similar to the pervious question, this will help use analyze our payment method offerings to customers. We can compare data(card vs cash) and plan our payment offerings around that. The result matched our expectatoins, as we saw that coupes payed with the card the most, a total of 2 coupes.